.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 20px;
    height: 0;
    }

.video-responsive iframe,
.video-responsive object,
.video-responsive embed{
    margin-left : 10%;
    margin-right : 10%;
    display : block;
    position: absolute;
    width: 80%;
    height: 80%;
    top:  0;
 }